<nav class="navigation">
  <ul class="menu">
    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="야!">
            야!
          </span>
          <span class="menu__second-word" data-hover="너두?">
            너두?
          </span>
        </span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="업종별">
            업종별
          </span>
          <span class="menu__second-word" data-hover="뉴스">
            뉴스
          </span>
        </span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="주요">
            주요
          </span>
          <span class="menu__second-word" data-hover="증시">
            증시
          </span>
        </span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="환율">
            환율
          </span>
          <span class="menu__second-word" data-hover="지표">
            지표
          </span>
        </span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="실시간">
            실시간
          </span>
          <span class="menu__second-word" data-hover="토론">
            토론
          </span>
        </span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__title">
          <span class="menu__first-word" data-hover="인기">
            인기
          </span>
          <span class="menu__second-word" data-hover="동영상">
            동영상
          </span>
        </span>
      </a>
    </li>
  </ul>
</nav>